@font-face {
    font-family: 'afterglow';
    src: url('fonts/afterglow-regular-webfont.woff2') format('woff2'),
         url('fonts/afterglow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'besleybook';
    src: url('fonts/besley-book-webfont.woff2') format('woff2'),
         url('fonts/besley-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'tekomedium';
    src: url('fonts/teko-medium-webfont.woff2') format('woff2'),
         url('fonts/teko-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(234, 245, 248);
}

.headerTitle {
    background-color: rgb(13, 33, 43);
    width: 100%;
    height: 15%;
    border: 1px dashed transparent;
    padding: 0;
    align-content: center;
}

.titleHome {
    width: 55%;
    height: 50%;
    margin: auto;
    margin-top: -1.25em;   
}

.mainTitle {
    color: rgba(228, 228, 228, 0.932);
    font-size: 5.5em;
    line-height: 0;
    font-family: 'tekomedium';
    text-align: center;
    display: inline-block;
}

.navBar {
    margin-top: -2em;
    text-align: left;
    margin-left: 7%;
    width: 55%;
    margin-bottom: .4em;
}

button {
    outline: none;
    letter-spacing: .1em;
}

.button_homePage {
    font-size: 1.1em;
    color: rgba(250, 250, 250, 0.993);
    background-color: rgb(13, 33, 43);
    margin-bottom: .3%;
    height: 2.3rem;
    border: 1px solid transparent;
    border-radius: .3em;
    transition: .2s;
    -webkit-transition: .2s;
    cursor: pointer;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.button_homePage:hover {
    color: rgba(250, 250, 250, 0.993);
    background-color: rgb(10, 26, 34);
}
